# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

terraform-provider-logtail

/release/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform
.terraform.lock.hcl

# Local Claude code settings
.claude/instructions.local.md
.claude/settings.local.json
