---
layout: ""
page_title: "Provider: logtail"
description: |-
  The Better Stack Logs provider.
---

# Better Stack Logs Provider

[Better Stack Logs](https://logs.betterstack.com) provider provides resources to interact with the [Logs API](https://betterstack.com/docs/logs/api/getting-started/).

## Installation

```terraform
terraform {
  required_version = ">= 0.13"
  required_providers {
    logtail = {
      source  = "BetterStackHQ/logtail"
      version = ">= 0.2.0"
    }
  }
}
```

## Example usage

In our GitHub repository, you can [see multiple executable examples](https://github.com/BetterStackHQ/terraform-provider-logtail/tree/master/examples).
Here's a simple one to get you started:

```terraform
provider "logtail" {
  # `api_token` can be omitted if LOGTAIL_API_TOKEN env var is set.
  api_token = "XXXXXXXXXXXXXXXXXXXXXXXX"
}

resource "logtail_source" "this" {
  name     = "Production Server"
  platform = "ubuntu"
}

output "logtail_source_token" {
  value = logtail_source.this.token
}
```

{{ .SchemaMarkdown | trimspace }}
